@import '/src/variable.scss';

.logo h2 {
	color: $primary-color;
	font-size: 3rem;
	font-weight: 50;
	text-align: center;
	margin: 1rem 0 3rem; 
	font-family: 'Lobster', cursive;
    
    & .title {
        text-transform: uppercase;
        font-weight: 800;
    }
}